$def with (overtimes)
<p>overtime statistics:</p>
<ul>
    $ cnt = 0
    $for overtime in overtimes:
        <li>$overtime.day status:<em>$overtime.overtime</em></li>
        $if overtime.overtime == 1:
            $ cnt = cnt + 1
</ul>
<p>This month overtime <b> $cnt</b> days.</p>
<form method="post" action="over">
    <input name="overday" type="text" value="0" /><input type="submit" value="overtime" />
</form>
<form method="post" action="normal">
    <input name="overday" type="text" value="0" /><input type="submit" value="normal" />
</form>
